@charset "UTF-8";

@media screen and (min-width: 390px) and (max-width: 844px) {

    article {
        margin-top: 10rem;
    }

}

@media screen and (min-width: 403px) and (max-width: 894px) {

    article {
        margin-top: -5rem;
    }

}

@media screen and (min-width: 412px) and (max-width: 915px) {

    article {
        margin-top: 6rem;
    }

}

@media screen and (min-width: 414px) and (max-width: 896px) {

    article {
        margin-top: 8rem;
    }

}

@media screen and (min-width: 430px) and (max-width: 932px) {

    article {
        margin-top: 7rem;
    }

}

@media screen and (min-width: 500px) and (max-width: 992px) {

    /* TABLET */
    article {
        margin-top: 26rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* TABLET */
    main {
        background-image: url(../assets/images/background-pattern-desktop.svg);
        background-color: #ffffff;
    }

    article {
        margin-top: 13rem;
        background-color: rgb(255, 255, 255);
        width: 52rem;
    }

    .titulo2{
        background-color: rgba(0, 255, 255, 0);
        font-size: 1.8rem;
        font-weight: 700;
        width: 48rem;
    }

    .paragrafo02 {
        background-color: rgba(0, 255, 255, 0);
        font-size: 1.6rem;
        width: 52rem;
        height: 12rem;
    }

    .blocos {
        background-color: rgba(255, 192, 203, 0);
        width: 48rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* DESKTOP */
    main {
        background-image: url(../assets/images/background-pattern-desktop.svg);
        background-color: #ffffff;

    }

    article {
        margin-top: 17rem;
        background-color: rgb(255, 255, 255);
        width: 52rem;
    }

    .titulo2{
        background-color: rgba(0, 255, 255, 0);
        font-size: 1.8rem;
        font-weight: 700;
        width: 48rem;
    }

    .paragrafo02 {
        background-color: rgba(0, 255, 255, 0);
        font-size: 1.6rem;
        width: 52rem;
        height: 12rem;
    }

    .blocos {
        background-color: rgba(255, 192, 203, 0);
        width: 48rem;
    }
}

@media screen and (min-width: 1200px) {
    main {
        background-image: url(../assets/images/background-pattern-desktop.svg);
        background-color: #ffffff;
        
    }

    article {
      /*  margin-top: 19rem; */
        margin-top:25.5rem; 
        background-color: rgb(255, 255, 255);
        width: 52rem;
    }

    .titulo2 {
        background-color: rgba(0, 255, 255, 0);
        font-size: 1.8rem;
        font-weight: 700;
        width: 48rem;
    }

    .paragrafo02 {
        background-color: rgba(0, 255, 255, 0);
        font-size: 1.6rem;
        width: 52rem;
        height: 12rem;
    }

    .blocos {
        background-color: rgba(255, 192, 203, 0);
        width: 48rem;
    }
}