@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100&family=Montserrat:wght@100;200;300;400;500;600;700&family=Outfit:wght@300;400;600&family=Work+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-color:#f3e6fa;
    background-repeat: no-repeat;
    background-size:50rem;
    min-height: 100vh;
}
.sesao-principal{
   /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37.2%;
    background-color: rgb(255, 255, 255);
    width: 37rem;
    height: 50rem;
    border-radius: 1rem;
    */

}
article{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 25px;
    background-color: rgb(255, 255, 255);
    width: 32rem; 
    border: 24px solid white;
    border-top: 30px solid rgba(0, 255, 21, 0);
    border-bottom: 26px solid rgba(200, 255, 0, 0);
    border-radius: 1rem;
    
}
.sesao01{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:25px;    
}
.icone-estrela{
    background-color: rgba(0, 0, 255, 0);
}
h1{
    background-color: rgba(127, 255, 212, 0);
    font-size: 4.1rem;
}
.paragrafo01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.texto01{
    background-color: rgba(0, 255, 255, 0);
    font-size: 1.9rem;
    font-weight:700;
    width: 24rem; 
}
.paragrafo02{
    background-color: rgba(0, 255, 255, 0);
    font-size: 1.6rem;
    width: 31rem;
    height: 12rem;
    
}

.icone-texto-01{

}

.icones{
    width: 3.3rem;
}
.sesao-detalhes{
display: flex;
flex-direction: column;
}
details{
    display: flex;
    border-top: 1px solid rgba(97, 97, 95, 0.219);
    background-color: rgba(0, 255, 255, 0);
}
summary{
height: 7rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}  
.blocos{
    font-size: 1.6rem;
    background-color: rgba(255, 192, 203, 0);
    width: 22rem;
    font-weight:700;
}
.p0{
    font-size: 1.6rem;
    padding: 1rem;
    
}
